<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<a href="<%= pessoas_path %>">Pessoas</a></br>
<a href="<%= emails_path %>">Emails</a></br>
<%= link_to "Pessoas", pessoas_path%></br>
<%= link_to "Emails", emails_path%>
