<h1>New Pessoa</h1>

<%= render 'form', pessoa: @pessoa %>
<!-- param1 Qual elemento do HTML que quero criar, no caso um formulario -->
<!-- param2  Irá redenrizar no formulários já com os inputs baseado nos atributos de pessoa -->

<%= link_to 'Back', pessoas_path %>
